@page
@model IndexModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<!--User/Admin185746qwa sayfasında müzik ekleme/güncelleme/silme için başarılı/başarısız mesajları-->
@if (Model.Status == "AddSuccess")
{
    <div class="alert alert-success" role="alert">
        Ekleme Başarılı <i class="far fa-check-circle"></i>
    </div>
}
else if (Model.Status == "DeleteError")
{
    <div class="alert alert-danger" role="alert">
        Silme Başarısız <i class="far fa-times-circle"></i>
    </div>
}
else if (Model.Status == "UpdateSuccess")
{
    <div class="alert alert-success" role="alert">
        Güncelleme Başarılı <i class="far fa-check-circle"></i>
    </div>
}
else if (Model.Status == "DeleteSuccess")
{
    <div class="alert alert-success" role="alert">
        Silme Başarılı <i class="far fa-check-circle"></i>
    </div>
}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous" defer>
    </script>
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--Fontawesome ikonları-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script src="~/js/script.js" defer></script>
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RHZGWW4903"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-RHZGWW4903');
    </script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Sayfa boyutunu dengeleyen kod (responsive)-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>songstuff</title>
</head>

<body>
    <script type="text/javascript">
        //json dosyasina ekleme güncelleme silme işlemlerini yaparken çıkan başarılı/başarısız uyarısının ekranda kalma süresi
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);

    </script>
    <!--Navbar-->
    <!--Hazır bootstrap kodlarını kendi projemize göre derledik-->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="#" class="navbar-brand fs-1">
            <i class="fas fa-compact-disc fa-2x"></i>songstuff
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 fs-4">
                <li class="nav-item">
                    <p class="nav-link  fs-4" style="color:gainsboro;">Merhaba @Model.name, Sıcaklık: @Model.Extract<i class="fal fa-temperature-hot"></i></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link  fs-4" asp-area="" asp-page="/Uyelik1">KAYIT OL <i class="fas fa-user-plus"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  fs-4" asp-area="" asp-page="/Admin">YÖNETİCİ <i class="fas fa-user-cog"></i></a>
                </li>
                <li class="nav-item">
                    <pre>      </pre>
                </li>
            </ul>
        </div>
    </div>

    <form method="post">
        <div class="row">
            <div class="col-2 bg-dark">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button style="background-color: rgb(33, 37, 41);" class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseZero" aria-expanded="false" aria-controls="flush-collapseZero">
                                CATEGORY
                            </button>
                        </h2>
                        <div id="flush-collapseZero" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" checked value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        MUSIC
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" disabled value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        PODCAST
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" disabled value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        BOOK
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" disabled value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        MOVIE
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button style="background-color: rgb(33, 37, 41);" class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                GENRE
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input asp-for="genre" value="POP" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        POP
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="genre" value="ROCK" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        ROCK
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="genre" value="CLASSIC" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        CLASSIC
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="genre" value="HIP-HOP" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        HIP-HOP
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="genre" value="ALTERNATIVE" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        ALTERNATIVE
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button style="background-color: rgb(33, 37, 41);" class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                FEELING
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input asp-for="feeling" value="SAD" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        SAD
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="feeling" value="ROMANTIC" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        ROMANTIC
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="feeling" value="HAPPY" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        HAPPY
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button style="background-color: rgb(33, 37, 41);" class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                ENERGY
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input asp-for="energy" value="LOW" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        LOW
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="energy" value="MID" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        MID
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="energy" value="UP" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        UP
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="energy" value="BOASTED" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        BOASTED
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button style="background-color: rgb(33, 37, 41);" class="accordion-button collapsed text-white border-bottom" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                DURATION
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check">
                                    <input asp-for="duration" value="0-4" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        0-4 MIN.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="duration" value="4+" type="radio">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        4+ MIN.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="color:yellow">
                    <p>@Model.genreUyarı</p>
                    <p>@Model.feelingUyarı</p>
                    <p>@Model.energyUyarı</p>
                    <p>@Model.durationUyarı</p>
                </div>
                <button type="submit" class="btn btn-dark border mt-4 w-100">Generate Random Song</button>
            </div>

            <div class="col-10 col-s-9">
                <div class="video-container">
                    <iframe src=@Model.videoLink title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </form>
    <div class="footer  border-top mt-1">
        <div class="row text-white mt-1">
            <div class="col-6 ps-5">
                <h3>ABOUT</h3>
                <p style="text-align: justify; margin-right: 3%;">
                    Kullanıcının yapacağı tercihlere uygun bir şekilde şarkı
                    açan site. Bu aşamayı istediğimiz şekilde bitirebildiğimiz takdirde siteyi podcast, kitap, film önerisi de
                    yapabilecek hale getirmek istiyoruz.
                </p>
                <p>Proje kodlarına ulaşmak için <a href="https://github.com/Rabiaakbulut/songstuff" target="_blank">tıklayın</a></p>
            </div>
            <div class="col-6 ps-4">
                <h3 class="contact">CONTACT US</h3>
                <div class="row_foot">
                    <div class="col-4">
                        <h5>Aydın Terzi</h5>
                        <a class="btn btn-outline-light btn-floating m-1" href="mailto:aydinterzi7@gmail.com" role="button">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/aydinterzi" target="_blank"
                           role="button">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <h5>Rabia Akbulut</h5>
                        <a class="btn btn-outline-light btn-floating m-1" href="mailto:akbulutrabia.3453@gmail.com"
                           role="button">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Rabiaakbulut" target="_blank"
                           role="button">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <h5>Aybike S. Şahin</h5>
                        <a class="btn btn-outline-light btn-floating m-1" href="mailto:aybikessahin@gmail.com" role="button">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/AybikeS" target="_blank" role="button">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- js etkileşim için kullanılan kodlar -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>




</body>

</html>